.home {
  padding: 85px 100px;
  height: calc(100vh - 72px);
  background-image: url('../../../public/home1.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fade-in 0.8s forwards;
}

@keyframes fade-in {
  100% {
    opacity: 1;
  }
}

.home h1 {
  font-size: 50px;
}

.home p {
  width: 90%;
  line-height: 28px;
}

@media screen and (max-width: 768px) {
  .home p {
    width: 100%;
    line-height: 28px;
  }

  .home {
    padding: 100px 50px;
  }
}
